
*{
    margin:0;
    padding:0;
    box-sizing:border-box;              
}

body{
    transition: all .3s ease-in-out;
    overflow-x:hidden;
    font-family: 'Subjectivity', sans-serif;
}

html{
    font-size:62.5%

}

a{
    font: inherit;
    color: black;
    text-decoration: none;
}

input,img,button{
    font: inherit;
    width: 100%;
    display: block;
}

body.active{
    background-color: black;
    .link{
        color: white;
    }
    #darkBtn{
        color: white;
    }
    .movieName{
        color: white;
    }
    .movieStats{
        p{
           color: #00cc9c;
        }
    }
    .movieAbout{
        color: #5f5f5f;
    }
    .search{
        color: white;
    }
    .searchInput.active{
        background-color: black;
        color: white;
        border: 1px solid white;
    }
    .resetBtnContainer{
        button{
            background-color: black;
            color: white;
        }
    }
    .hamburger{
        background-color: white;
    
    }
}
