

    .search{
        display:flex;
        align-items: center;
        cursor: pointer;
       
        P{
            margin-left: 22px;
            font-weight: 600;
            font-size: 1.8rem;
        }
        input{
        }
    }

.searchInput{
    width: 0%;
    margin-left: 12px;
    height: 25px;
    font-size: 1.3rem;
    font-weight: 500;
    padding:0 .3em ;
    display: none;
    transition: width .4s ease-in-out;
   
}
.searchInput.active{
    width: 100%;
    display: block;
    transition: width .4s ease-in-out;
}


// .hamburger{
//     display: none;
//     margin-left: 12px;
//     cursor: pointer;
//     .line{
//         background-color: black;
//         width: 20px;
//         height: 3px;
//         margin-bottom: 4px;
//     }
// }


// .leftLink{
//     display: flex;
// }
// @media screen and (max-width:901px) {
//   .leftLink{
//       display: none;
//   }  
//   .leftLink.active{
//       display: unset;
//   }
//   .hamburger{
//       display: block;
//   }
// }




.navbar{
    @media screen and (max-width:600px) {
        margin-bottom: 92px;
    }
    .navbarContainer{
        padding: 2em 4%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .leftContent{
            display:flex;
            align-items:center;
            .logo{
                font-weight: bold;
                                font-size: 2.6rem;
                                margin-right: 12px;
                                background: linear-gradient(91.18deg, #2723F9 25.64%, #FF00C7 87.08%);
                                -webkit-background-clip: text;
                                -webkit-text-fill-color: transparent;
                                background-clip: text;
                                animation-name: logo;
                                animation-iteration-count: infinite;
                                animation-duration: .4s ;
                              transition:all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
                             
                      
            }
            .linksContainer{
                display: flex;
                // display: none;
              
                                font-weight: 600;
                                font-size: 1.8rem;
                @media screen and (max-width:824px) {
                    display:none
                }
              P{
                    margin-left: 22px;
                    cursor:pointer;
                }
            }
            .hamburger{
                cursor: pointer;
                margin-left: 22px;
                 @media screen and (min-width:824px) {
                display:none
            } 
                .Line{
                    width: 20px;
                    height: 3px;
                    background-color: black;
                    margin-bottom: 3px;
                }
            }
        }
        .rightContent{
            @media screen and (max-width:824px) {
                display:none
            } 
            // display: none;
            p{
                font-weight: 600;
                font-size: 1.8rem;
                cursor:pointer;
            }
        }
    }
}

.mobileNav{
    .search{
       display: none;
    }
    display: none;
    position: absolute;
    margin-top: -300%;
    transition: all .4s ease-in-out;
    background-color: rgba(0,0,0,.9);
    color: white;
    font-weight: 600;
    font-size: 1.8rem;
line-height: 2.5;
z-index: 1332;
width: 100%;
padding-top: 1em;
p{
    margin-bottom: 37px;
    cursor: pointer;
}
    @media screen and (max-width:824px) {
        border: 1px solid black;
 display: grid;
 place-items: center;
        // height: 100vh;
    }
}

.mobileNav.active{
    margin-top: 0%;
    .link{
        color: white;
    }
}