.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.search P {
  margin-left: 22px;
  font-weight: 600;
  font-size: 1.8rem;
}

.searchInput {
  width: 0%;
  margin-left: 12px;
  height: 25px;
  font-size: 1.3rem;
  font-weight: 500;
  padding: 0 .3em;
  display: none;
  -webkit-transition: width .4s ease-in-out;
  transition: width .4s ease-in-out;
}

.searchInput.active {
  width: 100%;
  display: block;
  -webkit-transition: width .4s ease-in-out;
  transition: width .4s ease-in-out;
}

@media screen and (max-width: 600px) {
  .navbar {
    margin-bottom: 92px;
  }
}

.navbar .navbarContainer {
  padding: 2em 4%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .navbarContainer .leftContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .navbarContainer .leftContent .logo {
  font-weight: bold;
  font-size: 2.6rem;
  margin-right: 12px;
  background: linear-gradient(91.18deg, #2723F9 25.64%, #FF00C7 87.08%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-animation-name: logo;
          animation-name: logo;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: .4s;
          animation-duration: .4s;
  -webkit-transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.navbar .navbarContainer .leftContent .linksContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 600;
  font-size: 1.8rem;
}

@media screen and (max-width: 824px) {
  .navbar .navbarContainer .leftContent .linksContainer {
    display: none;
  }
}

.navbar .navbarContainer .leftContent .linksContainer P {
  margin-left: 22px;
  cursor: pointer;
}

.navbar .navbarContainer .leftContent .hamburger {
  cursor: pointer;
  margin-left: 22px;
}

@media screen and (min-width: 824px) {
  .navbar .navbarContainer .leftContent .hamburger {
    display: none;
  }
}

.navbar .navbarContainer .leftContent .hamburger .Line {
  width: 20px;
  height: 3px;
  background-color: black;
  margin-bottom: 3px;
}

@media screen and (max-width: 824px) {
  .navbar .navbarContainer .rightContent {
    display: none;
  }
}

.navbar .navbarContainer .rightContent p {
  font-weight: 600;
  font-size: 1.8rem;
  cursor: pointer;
}

.mobileNav {
  display: none;
  position: absolute;
  margin-top: -300%;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2.5;
  z-index: 1332;
  width: 100%;
  padding-top: 1em;
}

.mobileNav .search {
  display: none;
}

.mobileNav p {
  margin-bottom: 37px;
  cursor: pointer;
}

@media screen and (max-width: 824px) {
  .mobileNav {
    border: 1px solid black;
    display: -ms-grid;
    display: grid;
    place-items: center;
  }
}

.mobileNav.active {
  margin-top: 0%;
}

.mobileNav.active .link {
  color: white;
}
/*# sourceMappingURL=navbar.css.map */